{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block post %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
      {% csrf_token %}
    {{form.as_p}}
<input type="submit" value="Submit" class="btn btn-primary">
    {% comment %} {% for fm in form %}
        <div class="form-group mb-3">
            {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors | striptags}}</small>
        </div>
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary">
    <br>
    <div class="text-center text-primary fw-bold"> {% endcomment %}
    {% comment %} {% url 'password_reset' %} {% endcomment %}
        {% comment %} <small>Forgot Password ? <a href="#"class="text-danger">Forgot Password</a></small>
        <br>
        <small>New to Shopingly ? <a href="{% url 'registration' %}"class="text-danger">Register Now</a></small>
    </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{errors}}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
   </form>
  </div>
 </div>
</div>
{% endblock post %}